################################################################################
# conkys.service
#
################################################################################

[Unit]

Description=Start temperatur reader for disc %i

[Service]

ExecStart=-/usr/local/sbin/conkys_start.sh %i

[Install]

WantedBy=graphical.target
